<section id="home" class="section-header">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="navbar-header">
						<button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav menus">
							<li class="active"><a href="#home">HOME</a></li>
							<li><a href="#bio">BIO</a></li>
							<li><a href="#photos">PHOTOS</a></li>
							<li><a href="#music">MUSIC</a></li>
							<li><a href="#videos">VIDEOS</a></li>
							<li><a href="#news">NEWS</a></li>
							<li><a href="#tour">TOUR</a></li>
							<li><a href="#contact">CONTACT</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1 class="title">PROJET AUDIO</h1>
			<h3 class="subtitle">SUBTITLE...</h3>
		</div>
	</div>
</section>
<div id="videos" class="container-fluid contenent-main">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<p class="titlevid">VIDEOS</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<p class="titleallvid"><a href="">ALL VIDEOS</a></p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 like">
					<%= image_tag("video-like-a-rose-530x300.jpg", width: "100%") %>
					<p class="subtitlevid">Like A Rose <span class="underscore">_</span> Ashley Monroe</p>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 big">
					<%= image_tag("video-big-love-550-530x300.jpg", width: "100%") %>
					<p class="subtitlevid">Big Love <span class="underscore">_</span> Carrie Rodriguez</p>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 waiting">
					<%= image_tag("video-waitin-on-june-530x300.jpg", width: "100%") %>
						<p class="subtitlevid">Waiting On June <span class="underscore">_</span> Holly Williams</p>
			</div>
		</div>
	</div>
	<div id="tour" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3 class="titregig">UPCOMING GIGS</h3>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenugig">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<p class="month">SEP<b class="number">14</b></p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<P class="city">Nashville, TN</P>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<p class="scene">The Bluebird Cafe</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenugig">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<p class="month">SEP<b class="number">16</b></p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<P class="city">Seattle, WA</P>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<p class="scene">Tractor Tavern</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenugig">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<p class="month">SEP<b class="number">17</b></p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<P class="city">Alexandria, VA</P>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<p class="scene">The Birchmere</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenugig">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<p class="month">SEP<b class="number">25</b></p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<P class="city">Washington, DC</P>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<p class="scene">The Hamilton</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenugig">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<p class="month">OCT<b class="numberoct">30</b></p>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<P class="city">Chipping Ongar, Essex</P>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<p class="scene">Zinc Arts Centre</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenugig">
			<p class="view"><a href="#tour">VIEW ALL GIGS</a></p>
		</div>
	</div>
	<div id="news" class="row contenentob">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4 class="titleob">ABOUT OBSIDIAN</h4>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p class="messageob">The Obsidian theme, like the naturally occuring volcanic glass of the same name, possesses an inherent allure that's stylish in appearance and practical in purpose. With distinctive background options and various customization possibilities, Obsidian makes it easy to create the ultimate hub for your online identity.</p>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 marg-query">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4 class="titlevol">VIVIENNE'S OMITTED LINE</h4>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%= image_tag("album-03-300x300.jpg", width: "92%") %>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 alignrp">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4 class="titleob">RECENT POSTS</h4>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<P class="subtitlerp">Welcome to our redesigned website</P>
				<p class="subdate">APRIL 1, 2015</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p class="subtitlerp">New tour dates posted</p>
				<p class="subdate">DECEMBER 16, 2014</p>
			</div>
				<p class="subtitlerp">History of Popular Music</p>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p class="subdate">DECEMBER 15, 2014</p>
			</div>
		</div>
	</div>
	<div id="contact" class="row contenentrs">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul>
				<li class="icon-rs"><a href="#"><i class="fa fa-facebook-official"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-facebook-official"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-facebook-official"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-facebook-official"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-vimeo"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-amazon"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-apple"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-facebook-official"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-vimeo"></i></a></li>
				<li class="icon-rs"><a href="#"><i class="fa fa-spotify"></i></a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="titlefooter">OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p>
		</div>
	</div>
</div>
<%= javascript_include_tag "addheight.js" %>
<%= javascript_include_tag "scrollmovement.js" %>
